

.contributors{
  display: flex;
  gap: 10px;
}

.caption {
  display: flex;
  flex-direction:column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

figure img {
  border-radius: 9999px;
}