@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: var(--roboto);
}
 

 

input,
button,
textarea,
a {
  outline: none;
}

:where(input, button, textarea, a):focus {
  box-shadow: 0 0 0 2px #265dfc;
}

#pokemon {
  transform: rotateY(180deg);
}

/* implements when this api are available stable */
/* @keyframes fade-in {
/* implements when this api are available stable */
/* @keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

#header {
  view-transition-name: main-header;
} */

#tabs_scroll[data-index="stats"] {
  transition: transform 500ms ease-in-out;

  transform: translate3d(-522px, 0px, 0px);
}

#tabs_scroll[data-index="evolution"] {
  transition: transform 500ms ease-in-out;

  transform: translate3d(-1048px, 0px, 0px);
}

#tabs_scroll[data-index="moves"] {
  transition: transform 500ms ease-in-out;

  transform: translate3d(-1572px, 0px, 0px);
}

#tabs_scroll[data-index="about"] {
  transition: transform 500ms ease-in-out;

  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 524px) {
  #tabs_scroll[data-index="stats"] {
    transition: transform 500ms ease-in-out;
  
    transform: translate3d(-368px, 0px, 0px);
  }
  
  #tabs_scroll[data-index="evolution"] {
    transition: transform 500ms ease-in-out;
  
    transform: translate3d(-736px, 0px, 0px);
  }
  
  #tabs_scroll[data-index="moves"] {
    transition: transform 500ms ease-in-out;
  
    transform: translate3d(-1104px, 0px, 0px);
  }
  
  #tabs_scroll[data-index="about"] {
    transition: transform 500ms ease-in-out;
  
    transform: translate3d(0px, 0px, 0px);
  }
  
}

.react-modal-sheet-container {
  background-color: transparent !important;
  box-shadow: 0 0 0 0 !important;
}

.react-modal-sheet-backdrop{
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.70) !important;
}

/* 
.react-modal-sheet-header {
  /* custom styles */
/* } */
/* .react-modal-sheet-drag-indicator { */
  /* custom styles */
/* } */ 

/* .react-modal-sheet-content {
  custom styles 
   position: absolute !important;  
  inset: 0 !important;
  touch-action: pan-y !important;
} */

#moves, #evolution, #about, #stats {
  -webkit-overflow-scrolling: touch;
}


div[data-length='0']:matches([id='favoritesHeader']) {
  background-color: #265dfc;
    visibility: hidden;
}

